<article class="card">
    <div class="card-left">
        <figure><img src="" alt=""></figure>
        <h3>#<%= group.id %></h3>
    </div>
    <div class="card-content">
        <h3><%= group.name %></h3>
        <p><a href="<%= group.repository %>" target="_blank">Repositorio</a></p>
        <div>
            <a class="button" href="/groups/<%= group.id %>">Ver detalle</a>
            <a class="button" href="/groups/<%= group.id %>/edit">Editar</a>
            <form class="form is-inline" action="/groups/<%= group.id %>?_method=DELETE" method="POST">
                <button class="button is-danger" type="submit">Borrar</button>
            </form>
        </div>
    </div>   
</article>